In [4]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('star_dataset.csv')
data

,Name,Distance (ly),Luminosity (L/Lo),Radius (R/Ro),Temperature (K),Spectral Class
0,Altair,16.594171,9.979192,1.632650,7509.294247,A7V
1,Deneb,2600.490723,196002.627856,202.970526,8503.284796,A2Ia
2,Barnard's Star,6.052616,4.893716,0.222711,3165.959639,M4Ve
3,Polaris,322.601002,2196.241934,37.546813,6048.326915,F7Ib
4,Barnard's Star,5.902392,-1.496486,0.192359,3130.602069,M4Ve
...,...,...,...,...,...,...
995,Wolf 359,7.455715,-4.435101,0.068087,2774.148300,M6V
996,Hadar,350.301644,49997.506591,9.070882,25010.502656,B1III
997,Bellatrix,239.763294,6397.020159,5.706311,22603.548766,B2III
998,Alpha Centauri B,4.044364,-4.549088,0.939191,5286.304304,K1V
999,Wolf 359,8.139786,3.484205,0.236324,2813.600366,M6V

## Звездный путь 1.1
Result: 10/10

![описание изображения](task1.png)

In [9]:

np.unique(data["Spectral Class"]).shape

array(['Achernar', 'Acrux', 'Aldebaran', 'Alnilam', 'Alpha Centauri B',
       'Altair', 'Antares', 'Arcturus', "Barnard's Star", 'Bellatrix',
       'Betelgeuse', 'Canopus', 'Capella', 'Castor', 'Deneb', 'Fomalhaut',
       'Hadar', 'Lalande 21185', 'Mira', 'Polaris', 'Procyon', 'Regulus',
       'Rigel', 'Rigil Kentaurus', 'Ross 154', 'Sirius', 'Spica', 'Vega',
       'Wolf 359'], dtype=object)

## Звездный путь 1.2
Result: 15/15

![](task2.png)

In [27]:
data.sort_values(by="Distance (ly)").drop_duplicates(subset="Name").nsmallest(3, "Distance (ly)")["Name"].to_list()

['Alpha Centauri B', 'Rigil Kentaurus', "Barnard's Star"]

## Звездный путь 1.3
Result: 15/15

![](task3.png)

In [30]:
np.round(data[data["Radius (R/Ro)"] > 1]["Temperature (K)"].mean(), 3)

11206.615

## Озеро хищных щук
Result: 50/50

![](task4.png)

In [85]:
N, K = map(int, input().split())
fed = 0
while N >= K + 1:
    fed += 1
    N -= K
print(fed)

9

## Оценка регрессии Гальтона
Result: 60/60

![](task5.png)

In [59]:
import numpy as np

f = open("input.txt", "r")
k1, k2, k3 = map(float, f.readline().split())
n = int(f.readline())
y = list(map(int, f.readline().split()))
X1 = list(map(int, f.readline().split()))
X2 = list(map(int, f.readline().split()))
f.close()

X1 = np.asarray(X1)
X2 = np.asarray(X2)
y_pred = k1 * X1 + k2 * X2 + k3
mae = sum(np.abs(y_pred - y)) / n
f = open("output.txt", "w")
f.write("{:.3f}".format(mae))
f.close()

## TaskLogger
Result: 40/50

![](task6.png)

In [86]:
class TaskLogger:
    def __init__(self):
        self.tasks_dict = {}
        self.completed_tasks_dict = {}

    def add_task(self, task_name, priority):
        self.tasks_dict[task_name] = priority

    def complete_the_highest_priority_task(self):
        temp = sorted(self.tasks_dict.items(), key=lambda x: x[1], reverse=True)
        self.completed_tasks_dict[temp[0][0]] = temp[0][1]
        self.tasks_dict.pop(temp[0][0])

    def get_pending_tasks(self):
        temp = [task[0] for task in sorted(self.tasks_dict.items(), key=lambda x: x[1], reverse=True)]
        return temp

    def get_completed_tasks(self):
        temp = [task[0] for task in sorted(self.completed_tasks_dict.items(), key=lambda x: x[1], reverse=True)]
        return temp

In [79]:
t = TaskLogger()
t.add_task("Task 1", priority=10)
t.add_task("Task 2", priority=20)
t.complete_the_highest_priority_task()
print(t.get_pending_tasks())
print(t.get_completed_tasks())

['Task 1']
['Task 2']